.value-wrapper-body {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    gap: 5rem;

}

.value-image img {
    width: 30vw;
    height: 100%;
}

.value-image {
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    margin-bottom: 3rem;
    margin-top: 2rem;

    border: 8px solid rgba(39, 4, 4, 0.12);
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
}
.orange-text{
    color: orange;
    font-size: 2rem;
}